.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.loginLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
